@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Sen:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style-type: none !important;
    box-sizing: border-box !important;
}

.ff-inter {
    font-family: "inter";
}

.ff-poppins {
    font-family: "poppins";
}

.ff-sen {
    font-family: "sen";
}

.max-width-467px {
    max-width: 467px;
}

.max-width-86px {
    max-width: 86px;
}

.max-width-115px {
    max-width: 115px;
}

.padding-26 {
    padding-left: 26px !important;
}

.padding-35 {
    padding-left: 25px !important;
}

.padding-28 {
    padding-left: 35px !important;
}

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
    display: flex !important;
}

.slick-slide>div {
    display: flex;
}

.hover-slider:hover circle {
    fill: black;
}

.hover-slider:hover path {
    stroke: white;
}




:hover.btn-hover {
    background-color: #2D3134;
    color: white;
}

.white-border {
    border: 2px solid white;
}

:hover.box-shadow-2 {
    box-shadow: 0px 24px 90px 0px #C0BCA138;
}

.bg-img {
    background-image: url(/assets/m-images/png/Intersect.png);
    background-size: 100% 100%;
}

.max-width-415px {
    max-width: 385px;
}

.width-450px {
    min-width: 450px;
}

.outline-0 {
    outline: none;
}

input::placeholder {
    font-family: "inter";
    font-size: 14px;
    color: #BDBFC0;

}

.max-width-141px {
    max-width: 141px;
}

.startn50 {
    left: -10%;
}

.padding-0 {
    padding: 0% !important;
}

.curser-pointer {
    cursor: pointer;
}

.line-height-66 {
    line-height: 66px;
}

.image-style {
    border-radius: 85px;
}

.hover-bg {
    background: #0000004D;
    border-radius: 85px;
    opacity: 0;

}

.curser-pointer {
    cursor: pointer;
}

.hover:hover.hover-bg {
    opacity: 1 !important;
}


.max-width-370px {
    max-width: 370px;
}

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
    display: flex !important;
}

.slick-slide>div {
    display: flex;
}

.border-style3 {
    border: 2px solid #5B5F62;
    border-radius: 14px;
}

.hover-slider:hover circle {
    fill: black;
}

.hover-slider:hover path {
    stroke: white;
}

.position-arrow {
    transform: translateY(-80px);

}

.position-arrow-2 {
    transform: translatex(60%);
}

.bg_color-white {
    background-color: #FDFEFF;

}

.radius-38px {
    border-radius: 38px;
}

.upper-line {
    display: flex;
    background-color: #FFD482;
    width: 67px;
    height: 8px;
    border-radius: 4px;
    box-shadow: 0px 2px 6px 0px #E5891826;
}

.img-pos {
    top: 50%;
    left: -5%;

}

.img-pos2 {
    bottom: 0%;
    left: 50%;

}

@media(min-width:1170px) {
    .my-container {
        max-width: 1170px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        padding-left: 12px !important;
        padding-right: 12px !important;
    }
        .max-width-467px {
            max-width: 467px !important;
        }
    

}

@media(max-width:600px) {
    .width-450px {
        min-width: 100px !important;
    }
}
@media(max-width:768px) {
    .width-450px {
        min-width: 250px;
    }
}

@media(min-width:400px) {
    .responsive .slick-list {
        overflow: visible;
        padding: 0 27% 0 0;
        position: relative;
        /* z-index: -1;  */
    }


    .responsive .slick-list::after {
        content: ' ';
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: 4000px;
        right: 100%;
        background-color: #FAF8ED;
    }
}

@media(max-width:415px) {
    .w-n-100 {
        width: 100%;
    }
}

@media(max-width:575px) {
    .w-n-100 {
        width: 100%;
    }

    .w-n-50 {
        width: 100;
    }
}

@media(max-width:992px) {
    .position-arrow-2 {
        transform: translatex(50%);
    }
}

@media(max-width:766px) {
    .position-arrow-2 {
        transform: translatex(60%);
    }
    .d-none_md{display: none;}
}